$base-color-opace: 516715;
$base-color: hsl(130, 10%, 55%);
$base-color-medium-light: hsl(130, 10%, 70%);
$base-color-light: hsl(130, 10%, 75%);
$base-color-dark: hsl(130, 10%, 65%);
$grid: hsl(140, 9%, 7%);
* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  background: $base-color-dark;
}
body {
  .red-border {
    border: 1px solid rgb(150, 35, 6);
  }
  .green-border {
    border: 1px solid rgb(2, 86, 2);
  }
}
header {
  background: $base-color;
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
  & > div {
    display: flex;
    justify-content: center;
    width: 20%;
    .play2not {
      color: gray !important;
      background: rgb(67, 66, 66) !important;
    }
  }
}
.initial {
  background: $base-color;
  padding: 16px;
  position: absolute;
  right: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 32px;
  transform: translate(50%, -50%);

  h3 {
    letter-spacing: 1.5px;
  }
  form {
    button {
      letter-spacing: 1px;
      margin-top: 6px;
      background: none;
      color: inherit;
      border: 1px solid rgb(47, 58, 48);
      width: 100%;
      padding: 6px;
      font: inherit;
      cursor: pointer;
      outline: none;
      transition: 0.2ms;
      &:hover {
        transform: scale(1.03);

        background: $base-color-light;
      }
    }
    input {
      background: $base-color-light;
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid black;
      &:focus {
        outline: none;
        border: 1px solid rgb(54, 75, 54);
      }
    }
  }
  & > div {
    padding: 0.4rem;
    flex-direction: column;
    margin: 8px;
    width: 50%;
    height: 50%;
    max-height: 224px;
    max-width: 384px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.20);
    & > * {
      text-align: center;
      margin: 8px;
      font-size: 1.5rem;
    }
    & p {
       font-size: 1rem;
     }
    
    &:hover {
      background: $base-color-medium-light;
      transition: 0.35ms;
      transform: scale(1.01);
      box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.25);
      & h3,
      p,
      form {
        background: $base-color-medium-light;
      }
    }
  }
  &.hidden {
    display: none;
  }
}
main {
  margin: auto;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  .game-container {
    margin: 16px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: $grid;
    width: 90vh;
    height: 90vh;
    max-height: 90vw;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    & > div {
      margin: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 6rem;
      color: rgb(188, 191, 194);
      min-width: 50px;
      min-height: 50px;
      max-width: 400px;
      max-height: 400px;
      aspect-ratio: 1/1;

      &.checked {
        background: black;
      }
      &:hover {
        background: $base-color;
      }
    }
  }
}
footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
}

// @media only screen and (min-width: 896px) {
//   body {
//     .game-container {
//       background: red;
//     }
//   }
// }

@media only screen and (max-width: 800px) {
  body {
    .initial {
      flex-direction: column;
      padding: 0px;
    }
  }
}
