* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  background: hsl(130deg, 10%, 65%);
}

body .red-border {
  border: 1px solid rgb(150, 35, 6);
}
body .green-border {
  border: 1px solid rgb(2, 86, 2);
}

header {
  background: hsl(130deg, 10%, 55%);
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
}
header > div {
  display: flex;
  justify-content: center;
  width: 20%;
}
header > div .play2not {
  color: gray !important;
  background: rgb(67, 66, 66) !important;
}

.initial {
  background: hsl(130deg, 10%, 55%);
  padding: 16px;
  position: absolute;
  right: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 32px;
  transform: translate(50%, -50%);
}
.initial h3 {
  letter-spacing: 1.5px;
}
.initial form button {
  letter-spacing: 1px;
  margin-top: 6px;
  background: none;
  color: inherit;
  border: 1px solid rgb(47, 58, 48);
  width: 100%;
  padding: 6px;
  font: inherit;
  cursor: pointer;
  outline: none;
  transition: 0.2ms;
}
.initial form button:hover {
  transform: scale(1.03);
  background: hsl(130deg, 10%, 75%);
}
.initial form input {
  background: hsl(130deg, 10%, 75%);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
}
.initial form input:focus {
  outline: none;
  border: 1px solid rgb(54, 75, 54);
}
.initial > div {
  padding: 0.4rem;
  flex-direction: column;
  margin: 8px;
  width: 50%;
  height: 50%;
  max-height: 224px;
  max-width: 384px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.initial > div > * {
  margin: 8px;
  font-size: 1.5rem;
}
.initial > div:hover {
  background: hsl(130deg, 10%, 70%);
  transition: 0.2ms;
  transform: scale(1.01);
  box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.initial > div:hover h3,
.initial > div:hover p,
.initial > div:hover form {
  background: hsl(130deg, 10%, 70%);
}
.initial.hidden {
  display: none;
}

main {
  margin: auto;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}
main .game-container {
  margin: 16px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: hsl(140deg, 9%, 7%);
  width: 90vh;
  height: 90vh;
  max-height: 90vw;
  border: 1px solid black;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
main .game-container > div {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: rgb(188, 191, 194);
  min-width: 50px;
  min-height: 50px;
  max-width: 400px;
  max-height: 400px;
  aspect-ratio: 1/1;
}
main .game-container > div.checked {
  background: black;
}
main .game-container > div:hover {
  background: hsl(130deg, 10%, 55%);
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 800px) {
  body .initial {
    flex-direction: column;
    padding: 0px;
  }
}/*# sourceMappingURL=style.css.map */